<html>
  <head>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>
  <body>
    <h1>Quotable</h1>

    <blockquote>
      <%= tacos %>
      <cite>Jesse Wolgamott, 2015 and forever</cite>
    </blockquote>

    <% full_lines.each do |line| %>
      <blockquote>
        <%= line %>
      </blockquote>
    <% end %>

  </body>
</html>
